{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Ma petite boutique{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h2>Nous contacter</h2>
        <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    </div>
</div>

{% for message in app.flashes('notice') %}
    <div class="alert alert-info"> {{ message }} </div>
{% endfor %}

<div class="row">
    <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Pour nous joindre</strong>
            <hr>
            17 Avenue du grand laurier<br/>
            75000 Paris.<br/>
            contact@mapetiteboutique.fr<br/>
        </div>
</div>
{% endblock %}
